    html {
            font-size: 20px;
    }
    body {
        background-color: #333;
        color: whitesmoke;
    }

    a {
        color: aliceblue;
        text-decoration: none;
    }
    a:visited {
        color: yellow;
    }
    a:hover, a:active {
        color: #eee;        
    }
